html {
    overflow-y: scroll;
}

html,
body,
.page {
    height: 100%;
}

body {
    background-color:#fff;
    font: 300 62.5%/1.19 'PTSans', Arial, Helvetica, sans-serif;
    color: $clr_def;
    min-width: $page_min;

    > .page {
        height: auto;
        min-height: 100%;
    }
}

.page_i {
    padding-bottom: $height_footer;
}

.footer {
    height: $height_footer;
    margin-top: -$height_footer;
}

.row {
    @include clearfix;
    margin-left: -$grid_gutter_width / 2;
    margin-right: -$grid_gutter_width / 2;
}

.col-3,
.col-4,
.col-6,
.col-8,
.col-9 {
    @include box-sizing;
    float: left;
    padding-left: $grid_gutter_width / 2;
    padding-right: $grid_gutter_width / 2;
    min-height: 1px;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}



.show-more-btn-wrapper {
    position: relative;

    &:after,
    &:before {
        width: 29px;
        height: 29px;
        background-color: #b466b5;
        position: absolute;
        content: "";
    }

    &:before {
        left: 61px;
        bottom: -11px;
    }

    &:after {
        right: 63px;
        top: 1px;
    }
}

.user-content {
    @include f;

    > *:first-child {
        margin-top: 0;
    }
    p {
        margin: 1em 0;
    }
}

.component-checkbox {
    cursor: default;
    position: relative;
    padding-left: 48px;
    min-height: 41px;
    font-size: 14px;
    line-height: 42px;
    font-weight: 700;
    font-family: 'Oxygen',sans-serif;
    margin: 5px 0;

    &.vip-add {
        margin: 5px 10px;
    }

    input {
        left: 0;
        position: absolute;
        top: 0;
        opacity: 0;

        + label:before {
            @include bg(0, -98px);
            content: "";
            height: 41px;
            left:0;
            position: absolute;
            top: 0;
            width: 43px;
        }
        &:checked + label:before {
            background-position: 0 -142px;
        }
        &:hover + label:before {
        }
        &:checked:hover + label:before {
        }
        &:active + label:before {
        }
        &:checked:active + label:before {
        }
        &:disabled + label:before {
        }
        &:checked:disabled + label:before {
        }
    }
    label {
        cursor: default;
        display: inline-block;
        vertical-align: top;
        line-height: 42px;
    }

}

.component-select {
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 0 10px;
    margin-bottom: 5px;
    width: 100%;
    @include box-sizing();

    font-family: 'Oxygen', Arial, Helvetica, sans-serif;

    .chosen-single {
        height: 40px;
        line-height: 40px;
        //width: 227px;
        color: #979797;

        span {
            margin-right: 29px;
        }
        div {
            width: 29px;
            height: 100%;

            b {
                @include bg(0, -58px);
                width: 12px;
                height: 6px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -2px 0 0 -6px;
            }
        }
        &:hover {

        }
    }
    .chosen-drop {
        line-height: 42px;
        border:1px solid #cccccc;
        border-top: 0;
        background-color: #fff;
        margin-top: -1px;
        font-weight: 400;
        //width: 238px;
    }
    .chosen-results {
        li {
            padding: 0 15px;
            &:hover {
                background: $bg_green;
            }

        }
        .highlighted {
            //background: $clr_gray_form;
            color: #000;
        }
        .result-selected {
            background: $bg_green;
        }
    }
    //&.chosen-with-drop {
    //    .chosen-single {
    //        background-color: #55337e;
    //        color: #8e7ca6;
    //
    //        div {
    //            background-position: 0 0;
    //        }
    //    }
    //}
}

/*BUTTONS*/
.btn {
    border: 1px solid #cfd1be;
    line-height: 36px;
    border-radius: 3px;
    box-shadow: none;
    font-weight: 700;
}

.btn-login {
    background-color: $bg_green;
    padding: 0 35px;

    &:hover {
        background-color: $bg_green_hover;
    }
}

.btn-back {
    background-color: #f7f7f7;
    padding: 0 100px;

    &:hover {
        background-color: #eeeeee;
    }
}
.btn-back-small {
    background-color: #f7f7f7;
    padding: 0 50px;
}
.btn-back-small:hover {
    background-color: #eeeeee;
}

.btn-edit {
    background-color: #f7f7f7;
    padding: 0 10px;
    margin-top: 69px;

    &:hover {
        background-color: #eeeeee;
    }

}

.btn-reserve {
    background-color: #dce374;
    padding: 0 35px;
    margin-top: 5px;

    &:hover {
        background-color: $bg_green_hover;
    }
}
.btn-add-order {
    color:#fff;
    padding: 0 40px;
    background-color: $clr_orange;

    &:hover {
        background-color: #e6843e;
    }
}
.btn-review {
    padding: 0 40px;
    background-color: $bg_green;

    &:hover {
        background-color: $bg_green_hover;
    }

}
.btn-gr {
    clear: both;
    padding-top: 10px;
}

/*for STAGING 5*/
.reserv-radio .mobile-radio-padd {
    padding-left: 25px;
}

@media screen and (max-width: 960px) {
    .reserv-radio .mobile-radio-padd {
        padding-left: 55px;
    }
}
.availability-title div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    width: 155px;
}

.row-av > div {
    width: 155px;
    display: table-cell;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;

}
@media screen and (max-width: 960px) {
    .availability-title div,
    .row-av > div {
        width: 305px!important;
    }
}
@media screen and (max-width: 560px) {
    .availability-title div,
    .row-av > div {
        width: 100px!important;
    }
}
.btn-reserve {
    margin-top: 0 !important;
}

.row-av ._count {
    text-align: center;
    font-weight: 700;
}
.row-av ._time {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
}