html {
    overflow-y: scroll;
}

html,
body,
.page {
    height: 100%;
}

body {
    background-color:#fff;
    font: 300 62.5%/1.19 'PTSans', Arial, Helvetica, sans-serif;
    color: $clr_def;
    min-width: $page_min;

    > .page {
        height: auto;
        min-height: 100%;
    }
}

.page_i {
    padding-bottom: $height_footer;
}

.footer {
    height: $height_footer;
    margin-top: -$height_footer;
}

.row {
    @include clearfix;
    margin-left: -$grid_gutter_width / 2;
    margin-right: -$grid_gutter_width / 2;
}

.col-3,
.col-4,
.col-6,
.col-8,
.col-9 {
    @include box-sizing;
    float: left;
    padding-left: $grid_gutter_width / 2;
    padding-right: $grid_gutter_width / 2;
    min-height: 1px;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}



.user-content {
    @include f;

    > *:first-child {
        margin-top: 0;
    }
    p {
        margin: 1em 0;
    }
}

