$clr_def: #767676;
$clr_title: #444444;

$clr_link_header: #9eb80c;
$clr_green: #7da002;
$clr_orange: #f58c42;
$clr_info: #998548;
$clr_grey: #a6a6a6;
$clr-border:#c6c6c6;

$bg_green: #dce374;
$bg_green_hover: #9eb80c;

$clr_link: $clr_def;

$page_min: 320px;
$page_max: 980px;
$height_footer: 220px;

$pt: 'Open Sans Condensed', sans-serif;
$ptr: Tahoma, Arial, Helvetica, sans-serif;

$grid_gutter_width: 20px;