article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: .83em;
  margin: 1.67em 0; }

h6 {
  font-size: .67em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

input::-ms-clear {
  display: none; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
textarea {
  outline: 0; }

.centralize {
  margin: auto;
  max-width: 1000px;
  min-width: 320px; }

a {
  color: #767676; }
  a:hover {
    text-decoration: none; }

.link-emulation {
  color: #767676; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clickalbe {
  cursor: pointer !important; }

.relative {
  position: relative !important; }

.align-right {
  text-align: right !important; }

.align-center {
  text-align: center !important; }

.bold {
  font-weight: 700; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.invisible {
  visibility: hidden !important; }

.visible {
  visibility: visible !important; }

.ovhidden {
  overflow: hidden !important; }

.clear {
  clear: both !important; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.slick-slider {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-loading .slick-list {
    background: #fff url("../images/ajax-loader.gif") center center no-repeat; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    color: transparent; }

.slick-dots {
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    margin: 0 7px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      background: transparent;
      display: block;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 0;
      cursor: pointer;
      border: 2px solid #fff;
      border-radius: 100%;
      width: 10px;
      height: 10px; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none;
        background-color: #fff; }
  .slick-dots .slick-active button {
    background-color: #fff; }

.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }
  .chosen-container.chosen-with-drop .chosen-drop {
    left: 0; }
  .chosen-container a {
    cursor: pointer; }

/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap; }
  .chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
    font-size: 1px; }
    .chosen-container-single .chosen-single abbr:hover {
      background-position: -42px -10px; }
  .chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%; }
    .chosen-container-single .chosen-single div b {
      display: block;
      width: 100%;
      height: 100%;
      background: url("../images/chosen-sprite.png") no-repeat 0px 2px; }
.chosen-container-single .chosen-default {
  color: #999; }
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px; }
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px; }
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap; }
  .chosen-container-single .chosen-search input[type="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: white url("../images/chosen-sprite.png") no-repeat 100% -20px;
    background: url("../images/chosen-sprite.png") no-repeat 100% -20px;
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0; }
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px; }

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  max-height: 240px;
  -webkit-overflow-scrolling: touch; }
  .chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    -webkit-touch-callout: none; }
    .chosen-container .chosen-results li em {
      font-style: normal;
      text-decoration: underline; }
  .chosen-container .chosen-results .active-result {
    display: list-item;
    cursor: pointer; }
  .chosen-container .chosen-results .disabled-result {
    display: list-item;
    color: #ccc;
    cursor: default; }
  .chosen-container .chosen-results .highlighted {
    background-color: #3875d7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    color: #fff; }
  .chosen-container .chosen-results .no-results {
    display: list-item;
    background: #f4f4f4; }
  .chosen-container .chosen-results .group-result {
    display: list-item;
    font-weight: bold;
    cursor: default; }
  .chosen-container .chosen-results .group-option {
    padding-left: 15px; }

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text; }

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none; }

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap; }

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 5px;
  height: 15px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #666;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0; }

.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999; }

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px; }

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666; }

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4; }

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px; }

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0; }

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default; }

/* @end */
/* @group Active  */
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  .chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #111 !important; }

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default; }
  .chosen-disabled .chosen-single {
    cursor: default; }
  .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default; }

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right; }

.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0; }

.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl; }

.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px; }

.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px; }

.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px; }

.chosen-rtl .chosen-choices li {
  float: right; }

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl; }

.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px; }

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px; }

.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px; }

.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0; }

.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0; }

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none; }

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url("../images/chosen-sprite.png") no-repeat -30px -20px;
  background: url("../images/chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl; }

.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px; }

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px; }

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("../images/chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important; } }
/* @end */
/*! jQuery UI - v1.11.4 - 2015-07-01
* http://jqueryui.com
* Includes: core.css, datepicker.css, theme.css

* Copyright 2015 jQuery Foundation and other contributors; Licensed MIT */
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-clearfix {
  min-height: 0; }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0); }

.ui-front {
  z-index: 100; }

.ui-state-disabled {
  cursor: default !important; }

.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-datepicker {
  width: 420px;
  padding: 0;
  display: none; }

.ui-datepicker .ui-datepicker-header {
  position: relative; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  width: 60px;
  height: 39px;
  cursor: pointer; }
  .ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {
    background-color: #aec607; }

.ui-datepicker .ui-datepicker-prev {
  border-right: 1px solid #a6b226;
  width: 59px; }

.ui-datepicker .ui-datepicker-next {
  right: 0;
  border-left: 1px solid #a6b226; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  top: 50%;
  margin-top: -9px; }

.ui-datepicker .ui-datepicker-title {
  line-height: 38px;
  font-size: 19px;
  border-bottom: 1px solid #a6b226;
  height: 38px;
  text-align: center; }

.ui-datepicker .ui-datepicker-title select {
  font-size: 19px;
  margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 45%; }

.ui-datepicker table {
  width: 100%;
  border-collapse: collapse; }

.ui-datepicker th {
  text-align: center;
  border-bottom: 1px solid #c0c0c0;
  border-left: 1px solid #b8b8b8;
  border-right: 1px solid #b8b8b8; }
  .ui-datepicker th:first-child {
    border-left: 0; }
  .ui-datepicker th:last-child {
    border-right: 0; }

.ui-datepicker td {
  border: 0;
  padding: 0;
  background: #f1f2f3;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff; }
  .ui-datepicker td:last-child {
    border-right: none; }

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  width: 59px;
  line-height: 45px;
  text-align: center;
  text-decoration: none; }

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left; }

.ui-datepicker.ui-datepicker-multi {
  width: auto; }

.ui-datepicker-multi .ui-datepicker-group {
  float: left; }

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto 0.4em; }

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left; }

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0; }

.ui-datepicker-rtl {
  direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

.ui-widget {
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 13px; }

.ui-widget .ui-widget {
  font-size: 13px; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 13px; }

.ui-widget-content {
  border: 1px solid #aaa;
  background: #fff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
  color: #222; }

.ui-widget-content a {
  color: #222; }

.ui-widget-header {
  background: #dce374;
  font-weight: bold; }

.ui-widget-header a {
  color: #222; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #f1f2f3;
  font-weight: normal; }

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #555;
  text-decoration: none; }

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
  color: #212121;
  text-decoration: none; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #212121;
  text-decoration: none; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background-color: #9eb80c;
  color: #fff; }

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #363636; }

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
  color: #cd0a0a; }

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #cd0a0a; }

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal; }

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35); }

.ui-icon {
  width: 16px;
  height: 16px; }

.ui-icon, .ui-widget-content .ui-icon {
  background-image: url("../images/sprite.png"); }

.ui-widget-header .ui-icon {
  background-image: url("../images/sprite.png"); }

.ui-state-default .ui-icon {
  background-image: url("../images/sprite.png"); }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
  background-image: url("../images/sprite.png"); }

.ui-state-active .ui-icon {
  background-image: url("../images/sprite.png"); }

.ui-state-highlight .ui-icon {
  background-image: url("../images/sprite.png"); }

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url("../images/sprite.png"); }

.ui-icon-blank {
  background-position: 16px 16px; }

.ui-icon-carat-1-n {
  background-position: 0 0; }

.ui-icon-carat-1-ne {
  background-position: -16px 0; }

.ui-icon-carat-1-e {
  background-position: -32px 0; }

.ui-icon-carat-1-se {
  background-position: -48px 0; }

.ui-icon-carat-1-s {
  background-position: -64px 0; }

.ui-icon-carat-1-sw {
  background-position: -80px 0; }

.ui-icon-carat-1-w {
  background-position: -96px 0; }

.ui-icon-carat-1-nw {
  background-position: -112px 0; }

.ui-icon-carat-2-n-s {
  background-position: -128px 0; }

.ui-icon-carat-2-e-w {
  background-position: -144px 0; }

.ui-icon-triangle-1-n {
  background-position: 0 -16px; }

.ui-icon-triangle-1-ne {
  background-position: -16px -16px; }

.ui-icon-triangle-1-e {
  background-position: -32px -16px; }

.ui-icon-triangle-1-se {
  background-position: -48px -16px; }

.ui-icon-triangle-1-s {
  background-position: -64px -16px; }

.ui-icon-triangle-1-sw {
  background-position: -80px -16px; }

.ui-icon-triangle-1-w {
  background-position: -96px -16px; }

.ui-icon-triangle-1-nw {
  background-position: -112px -16px; }

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px; }

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px; }

.ui-icon-arrow-1-n {
  background-position: 0 -32px; }

.ui-icon-arrow-1-ne {
  background-position: -16px -32px; }

.ui-icon-arrow-1-e {
  background-position: -32px -32px; }

.ui-icon-arrow-1-se {
  background-position: -48px -32px; }

.ui-icon-arrow-1-s {
  background-position: -64px -32px; }

.ui-icon-arrow-1-sw {
  background-position: -80px -32px; }

.ui-icon-arrow-1-w {
  background-position: -96px -32px; }

.ui-icon-arrow-1-nw {
  background-position: -112px -32px; }

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px; }

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px; }

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px; }

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px; }

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px; }

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px; }

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px; }

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px; }

.ui-icon-arrowthick-1-n {
  background-position: 0 -48px; }

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px; }

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px; }

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px; }

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px; }

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px; }

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px; }

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px; }

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px; }

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px; }

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px; }

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px; }

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px; }

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px; }

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px; }

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px; }

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px; }

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px; }

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px; }

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px; }

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px; }

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px; }

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px; }

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px; }

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px; }

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px; }

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px; }

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px; }

.ui-icon-arrow-4 {
  background-position: 0 -80px; }

.ui-icon-arrow-4-diag {
  background-position: -16px -80px; }

.ui-icon-extlink {
  background-position: -32px -80px; }

.ui-icon-newwin {
  background-position: -48px -80px; }

.ui-icon-refresh {
  background-position: -64px -80px; }

.ui-icon-shuffle {
  background-position: -80px -80px; }

.ui-icon-transfer-e-w {
  background-position: -96px -80px; }

.ui-icon-transferthick-e-w {
  background-position: -112px -80px; }

.ui-icon-folder-collapsed {
  background-position: 0 -96px; }

.ui-icon-folder-open {
  background-position: -16px -96px; }

.ui-icon-document {
  background-position: -32px -96px; }

.ui-icon-document-b {
  background-position: -48px -96px; }

.ui-icon-note {
  background-position: -64px -96px; }

.ui-icon-mail-closed {
  background-position: -80px -96px; }

.ui-icon-mail-open {
  background-position: -96px -96px; }

.ui-icon-suitcase {
  background-position: -112px -96px; }

.ui-icon-comment {
  background-position: -128px -96px; }

.ui-icon-person {
  background-position: -144px -96px; }

.ui-icon-print {
  background-position: -160px -96px; }

.ui-icon-trash {
  background-position: -176px -96px; }

.ui-icon-locked {
  background-position: -192px -96px; }

.ui-icon-unlocked {
  background-position: -208px -96px; }

.ui-icon-bookmark {
  background-position: -224px -96px; }

.ui-icon-tag {
  background-position: -240px -96px; }

.ui-icon-home {
  background-position: 0 -112px; }

.ui-icon-flag {
  background-position: -16px -112px; }

.ui-icon-calendar {
  background-position: -32px -112px; }

.ui-icon-cart {
  background-position: -48px -112px; }

.ui-icon-pencil {
  background-position: -64px -112px; }

.ui-icon-clock {
  background-position: -80px -112px; }

.ui-icon-disk {
  background-position: -96px -112px; }

.ui-icon-calculator {
  background-position: -112px -112px; }

.ui-icon-zoomin {
  background-position: -128px -112px; }

.ui-icon-zoomout {
  background-position: -144px -112px; }

.ui-icon-search {
  background-position: -160px -112px; }

.ui-icon-wrench {
  background-position: -176px -112px; }

.ui-icon-gear {
  background-position: -192px -112px; }

.ui-icon-heart {
  background-position: -208px -112px; }

.ui-icon-star {
  background-position: -224px -112px; }

.ui-icon-link {
  background-position: -240px -112px; }

.ui-icon-cancel {
  background-position: 0 -128px; }

.ui-icon-plus {
  background-position: -16px -128px; }

.ui-icon-plusthick {
  background-position: -32px -128px; }

.ui-icon-minus {
  background-position: -48px -128px; }

.ui-icon-minusthick {
  background-position: -64px -128px; }

.ui-icon-close {
  background-position: -80px -128px; }

.ui-icon-closethick {
  background-position: -96px -128px; }

.ui-icon-key {
  background-position: -112px -128px; }

.ui-icon-lightbulb {
  background-position: -128px -128px; }

.ui-icon-scissors {
  background-position: -144px -128px; }

.ui-icon-clipboard {
  background-position: -160px -128px; }

.ui-icon-copy {
  background-position: -176px -128px; }

.ui-icon-contact {
  background-position: -192px -128px; }

.ui-icon-image {
  background-position: -208px -128px; }

.ui-icon-video {
  background-position: -224px -128px; }

.ui-icon-script {
  background-position: -240px -128px; }

.ui-icon-alert {
  background-position: 0 -144px; }

.ui-icon-info {
  background-position: -16px -144px; }

.ui-icon-notice {
  background-position: -32px -144px; }

.ui-icon-help {
  background-position: -48px -144px; }

.ui-icon-check {
  background-position: -64px -144px; }

.ui-icon-bullet {
  background-position: -80px -144px; }

.ui-icon-radio-on {
  background-position: -96px -144px; }

.ui-icon-radio-off {
  background-position: -112px -144px; }

.ui-icon-pin-w {
  background-position: -128px -144px; }

.ui-icon-pin-s {
  background-position: -144px -144px; }

.ui-icon-play {
  background-position: 0 -160px; }

.ui-icon-pause {
  background-position: -16px -160px; }

.ui-icon-seek-next {
  background-position: -32px -160px; }

.ui-icon-seek-prev {
  background-position: -48px -160px; }

.ui-icon-seek-end {
  background-position: -64px -160px; }

.ui-icon-seek-start {
  background-position: -80px -160px; }

.ui-icon-seek-first {
  background-position: -80px -160px; }

.ui-icon-stop {
  background-position: -96px -160px; }

.ui-icon-eject {
  background-position: -112px -160px; }

.ui-icon-volume-off {
  background-position: -128px -160px; }

.ui-icon-volume-on {
  background-position: -144px -160px; }

.ui-icon-power {
  background-position: 0 -176px; }

.ui-icon-signal-diag {
  background-position: -16px -176px; }

.ui-icon-signal {
  background-position: -32px -176px; }

.ui-icon-battery-0 {
  background-position: -48px -176px; }

.ui-icon-battery-1 {
  background-position: -64px -176px; }

.ui-icon-battery-2 {
  background-position: -80px -176px; }

.ui-icon-battery-3 {
  background-position: -96px -176px; }

.ui-icon-circle-plus {
  background-position: 0 -192px; }

.ui-icon-circle-minus {
  background-position: -16px -192px; }

.ui-icon-circle-close {
  background-position: -32px -192px; }

.ui-icon-circle-triangle-e {
  background-position: -30px 0px; }

.ui-icon-circle-triangle-s {
  background-position: -64px -192px; }

.ui-icon-circle-triangle-w {
  background-position: -30px -20px; }

.ui-icon-circle-triangle-n {
  background-position: -96px -192px; }

.ui-icon-circle-arrow-e {
  background-position: -112px -192px; }

.ui-icon-circle-arrow-s {
  background-position: -128px -192px; }

.ui-icon-circle-arrow-w {
  background-position: -144px -192px; }

.ui-icon-circle-arrow-n {
  background-position: -160px -192px; }

.ui-icon-circle-zoomin {
  background-position: -176px -192px; }

.ui-icon-circle-zoomout {
  background-position: -192px -192px; }

.ui-icon-circle-check {
  background-position: -208px -192px; }

.ui-icon-circlesmall-plus {
  background-position: 0 -208px; }

.ui-icon-circlesmall-minus {
  background-position: -16px -208px; }

.ui-icon-circlesmall-close {
  background-position: -32px -208px; }

.ui-icon-squaresmall-plus {
  background-position: -48px -208px; }

.ui-icon-squaresmall-minus {
  background-position: -64px -208px; }

.ui-icon-squaresmall-close {
  background-position: -80px -208px; }

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px; }

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px; }

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px; }

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px; }

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px; }

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px; }

.ui-widget-overlay {
  background: #aaa url("images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
  opacity: .3;
  filter: Alpha(Opacity=30); }

.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #aaa url("images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
  opacity: .3;
  filter: Alpha(Opacity=30);
  border-radius: 8px; }

html {
  overflow-y: scroll; }

html,
body,
.page {
  height: 100%; }

body {
  background-color: #fff;
  font: 300 62.5%/1.19 'PTSans', Arial, Helvetica, sans-serif;
  color: #767676;
  min-width: 320px; }
  body > .page {
    height: auto;
    min-height: 100%; }

.page_i {
  padding-bottom: 220px; }

.footer {
  height: 220px;
  margin-top: -220px; }

.row {
  *zoom: 1;
  margin-left: -10px;
  margin-right: -10px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-3,
.col-4,
.col-6,
.col-8,
.col-9 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333333%; }

.col-6 {
  width: 50%; }

.col-8 {
  width: 66.66666667%; }

.col-9 {
  width: 75%; }

.show-more-btn-wrapper {
  position: relative; }
  .show-more-btn-wrapper:after, .show-more-btn-wrapper:before {
    width: 29px;
    height: 29px;
    background-color: #b466b5;
    position: absolute;
    content: ""; }
  .show-more-btn-wrapper:before {
    left: 61px;
    bottom: -11px; }
  .show-more-btn-wrapper:after {
    right: 63px;
    top: 1px; }

.user-content {
  font-size: 1.8em;
  line-height: 1.11111em; }
  .user-content > *:first-child {
    margin-top: 0; }
  .user-content p {
    margin: 1em 0; }

.component-checkbox {
  cursor: default;
  position: relative;
  padding-left: 48px;
  min-height: 41px;
  font-size: 14px;
  line-height: 42px;
  font-weight: 700;
  font-family: 'Oxygen',sans-serif;
  margin: 5px 0; }
  .component-checkbox.vip-add {
    margin: 5px 10px; }
  .component-checkbox input {
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0; }
    .component-checkbox input + label:before {
      background: url("../images/sprite.png") no-repeat scroll 0 -98px transparent;
      content: "";
      height: 41px;
      left: 0;
      position: absolute;
      top: 0;
      width: 43px; }
    .component-checkbox input:checked + label:before {
      background-position: 0 -142px; }
  .component-checkbox label {
    cursor: default;
    display: inline-block;
    vertical-align: top;
    line-height: 42px; }

.component-select {
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 0 10px;
  margin-bottom: 5px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Oxygen', Arial, Helvetica, sans-serif; }
  .component-select .chosen-single {
    height: 40px;
    line-height: 40px;
    color: #979797; }
    .component-select .chosen-single span {
      margin-right: 29px; }
    .component-select .chosen-single div {
      width: 29px;
      height: 100%; }
      .component-select .chosen-single div b {
        background: url("../images/sprite.png") no-repeat scroll 0 -58px transparent;
        width: 12px;
        height: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -2px 0 0 -6px; }
  .component-select .chosen-drop {
    line-height: 42px;
    border: 1px solid #cccccc;
    border-top: 0;
    background-color: #fff;
    margin-top: -1px;
    font-weight: 400; }
  .component-select .chosen-results li {
    padding: 0 15px; }
    .component-select .chosen-results li:hover {
      background: #dce374; }
  .component-select .chosen-results .highlighted {
    color: #000; }
  .component-select .chosen-results .result-selected {
    background: #dce374; }

/*BUTTONS*/
.btn {
  border: 1px solid #cfd1be;
  line-height: 36px;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 700; }

.btn-login {
  background-color: #dce374;
  padding: 0 35px; }
  .btn-login:hover {
    background-color: #9eb80c; }

.btn-back {
  background-color: #f7f7f7;
  padding: 0 100px; }
  .btn-back:hover {
    background-color: #eeeeee; }

.btn-back-small {
  background-color: #f7f7f7;
  padding: 0 50px; }

.btn-back-small:hover {
  background-color: #eeeeee; }

.btn-edit {
  background-color: #f7f7f7;
  padding: 0 10px;
  margin-top: 69px; }
  .btn-edit:hover {
    background-color: #eeeeee; }

.btn-reserve {
  background-color: #dce374;
  padding: 0 35px;
  margin-top: 5px; }
  .btn-reserve:hover {
    background-color: #9eb80c; }

.btn-add-order {
  color: #fff;
  padding: 0 40px;
  background-color: #f58c42; }
  .btn-add-order:hover {
    background-color: #e6843e; }

.btn-review {
  padding: 0 40px;
  background-color: #dce374; }
  .btn-review:hover {
    background-color: #9eb80c; }

.btn-gr {
  clear: both;
  padding-top: 10px; }

/*for STAGING 5*/
.reserv-radio .mobile-radio-padd {
  padding-left: 25px; }

@media screen and (max-width: 960px) {
  .reserv-radio .mobile-radio-padd {
    padding-left: 55px; } }
.availability-title div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  width: 155px; }

.row-av > div {
  width: 155px;
  display: table-cell;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center; }

@media screen and (max-width: 960px) {
  .availability-title div,
  .row-av > div {
    width: 305px !important; } }
@media screen and (max-width: 560px) {
  .availability-title div,
  .row-av > div {
    width: 100px !important; } }
.btn-reserve {
  margin-top: 0 !important; }

.row-av ._count {
  text-align: center;
  font-weight: 700; }

.row-av ._time {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700; }

.header {
  background-color: #dcdcdc;
  height: 230px; }

.right-block {
  float: right;
  text-align: right; }

.logo {
  width: 273px;
  height: 100px;
  background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
  float: left;
  margin-top: 65px; }
  .logo a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; }

.phone-number {
  font-size: 4em;
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 40px;
  line-height: 40px; }

.feedback {
  font-family: 'PTSans Bold', sans-serif;
  font-size: 2.4em;
  margin-top: 5px; }
  .feedback a {
    text-decoration: none;
    border-bottom: 1px dashed #767676; }
    .feedback a:hover {
      border-bottom: none; }

.navigation-wrapper {
  background-color: #777777;
  color: #fff;
  font-size: 3em; }

.navigation {
  text-align: center; }
  .navigation span {
    line-height: 78px;
    margin: 0 12px 0 10px;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1; }

.nav-link {
  color: #fff;
  line-height: 80px;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1; }
  .nav-link:hover {
    text-decoration: none; }

.slider-content .slider-item {
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  height: 400px; }

.slick-prev {
  width: 34px;
  height: 61px;
  background: url("../images/sprite.png") no-repeat scroll 0 0 transparent;
  margin-top: -32px;
  left: 50%;
  margin-left: -500px; }

.slick-next {
  width: 34px;
  height: 61px;
  background: url("../images/sprite.png") no-repeat scroll -38px 0 transparent;
  margin-top: -32px;
  right: 50%;
  margin-right: -500px; }

.breadcrumbs {
  line-height: 30px;
  font-size: 1.4em; }

.splitter {
  margin: 0 5px; }

.content {
  font-size: 14px;
  margin-top: 20px; }

.leftblock {
  float: left;
  width: 200px; }

.catalog-menu {
  font-size: 18px;
  line-height: 30px;
  list-style: none;
  padding: 0; }
  .catalog-menu ._item {
    text-decoration: none; }
    .catalog-menu ._item:hover {
      text-decoration: underline; }

.submenu {
  font-size: 14px;
  line-height: 22px;
  list-style: circle;
  padding-left: 20px;
  margin: 0; }
  .submenu ._item {
    text-decoration: none; }
    .submenu ._item:hover {
      color: #010101;
      text-decoration: underline; }

.excel {
  margin-top: 100px; }
  .excel a {
    text-decoration: none; }

.price-list {
  font-size: 30px;
  font-family: 'PTSans Bold', sans-serif; }

.catalog-item {
  padding: 20px;
  background-color: #dcdcdc;
  margin-left: 15px;
  width: 210px;
  float: left;
  margin-bottom: 20px; }
  .catalog-item a {
    text-decoration: none; }
  .catalog-item:nth-child(3n+1) {
    margin-left: 0; }
  .catalog-item ._bg {
    height: 209px;
    background: url("../images/no-photo.png") 50% 50% no-repeat;
    background-size: cover; }
  .catalog-item ._desc {
    margin: 20px 0 50px; }
  .catalog-item .pricing ._count {
    font-size: 30px;
    font-family: 'PTSans Bold', sans-serif;
    color: #444444; }
  .catalog-item .pricing ._ico {
    margin-top: 8px;
    width: 28px;
    height: 21px;
    background: url("../images/sprite.png") no-repeat scroll -76px 0 transparent; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
@media screen and (min-width: 1025px) {
  .mobile-menu-block {
    display: none !important; }

  .fade {
    display: none !important; }

  .navigation {
    display: block !important; } }
@media screen and (max-width: 1100px) {
  .main-tab-item {
    width: 32%; } }
@media screen and (max-width: 1024px) {
  .header-top,
  .buy-tickets {
    display: none; }

  .header {
    height: 45px;
    border-bottom: 1px solid #d9d9d9; }

  .basket {
    display: block; }

  .questions,
  .basket {
    height: 45px;
    border-bottom: 0;
    border-top: 0; }
    .questions ._ico,
    .basket ._ico {
      margin-top: 9px; }

  .mobile-menu {
    display: block; }

  .footer .item.link {
    display: none; }
  .footer .item {
    padding: 0 60px; }

  .orderPages .footer {
    display: none; }

  .orderPages .footer-mobile {
    display: block; }

  .orderPages .page_i {
    padding-bottom: 60px; }

  .main-tab-item {
    width: 33%;
    display: block;
    float: left; }
    .main-tab-item:first-child {
      width: 34%;
      border-radius: 0 0 3px 3px; }
    .main-tab-item:last-child {
      border-radius: 0 3px 3px 0; }

  .order-tab,
  .main-tab-content {
    margin-left: 0 !important;
    margin-right: 0 !important; }

  .order-page .main-tab-item span:first-child {
    display: none; }
  .order-page .main-tab-item ._mobile {
    display: block; }

  .main-tab-content {
    padding-left: 10px !important;
    padding-right: 10px !important; }

  .main-pic {
    overflow: hidden; }

  .logo {
    width: 130px;
    height: 45px;
    background-size: cover;
    margin-top: 0;
    margin-left: 0;
    margin-right: 90px;
    display: inline-block;
    float: none; }

  .right-block {
    margin-right: 0;
    position: absolute;
    top: 0;
    right: 0; }

  .header .centralize {
    text-align: center; }

  .navigation {
    display: none;
    position: absolute;
    float: none;
    background-color: #fff;
    top: 46px;
    left: 0;
    bottom: 0;
    text-align: left;
    z-index: 5;
    margin-left: 0; }
    .navigation .nav-link {
      font-size: 14px;
      display: block;
      float: none;
      padding: 0 90px 0 50px;
      line-height: 50px;
      margin: 0;
      border-bottom: 1px solid #dce374; }
      .navigation .nav-link:hover, .navigation .nav-link.active {
        border-bottom: none;
        background-color: #dce374;
        color: #fff;
        border-bottom: 1px solid #dce374; }

  .ui-datepicker {
    width: 380px; }

  .ui-datepicker td span, .ui-datepicker td a {
    width: 53px; }

  .row-av > div:first-child {
    padding-left: 10px; }

  .btn-reserve {
    padding: 0 25px; }

  .component-select,
  .input.city,
  .input.zip {
    width: 100% !important; }

  .btn-back {
    padding: 0 50px; } }
@media screen and (max-width: 960px) {
  .form-column {
    width: 100%;
    margin: auto;
    float: none; } }
@media screen and (max-width: 768px) {
  .reservation-item {
    width: 49%;
    margin-left: 0; }
    .reservation-item:nth-child(2n-1) {
      margin-right: 2%; }

  .order-navigation {
    max-height: 45px; }

  .main-pic ._bg {
    height: 200px; }

  .pic-wrap img {
    width: 200px;
    height: auto; }

  .btn-back {
    margin-bottom: 10px; }

  .form-column.check-result {
    display: none; }

  .footer-logo img {
    width: 200px; }

  .footer .item {
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    float: none; }
  .footer .centralize {
    text-align: center; }
    .footer .centralize .item.link {
      text-align: left; } }
@media screen and (max-width: 568px) {
  .main-tab-item {
    font-size: 20px; } }
@media screen and (max-width: 560px) {
  .order-tab {
    margin: 20px 0 0 !important; }

  .order-tab {
    padding-left: 10px; }

  .main-tab-item-wrapper {
    line-height: 42px; }

  .main-tab-item {
    font-size: 14px !important;
    line-height: 42px;
    height: 42px;
    font-weight: 600; }

  .main-pic-title {
    font-size: 16px; }

  .reservation-item {
    width: 100%;
    margin: 15px auto !important;
    float: none; }
    .reservation-item:first-child {
      margin-top: 0 !important; }

  .component-checkbox.agreement label {
    line-height: 20px; }

  .footer-logo img {
    width: 100px; }

  .footer .item {
    font-size: 12px; }
    .footer .item:first-child {
      padding: 0; } }
@media screen and (max-width: 460px) {
  .ui-datepicker {
    width: 301px; }

  .ui-datepicker td span, .ui-datepicker td a {
    width: 42px; } }
@media screen and (max-width: 400px) {
  .btn-reserve {
    padding: 0 10px; }

  .reserve-tickets img {
    width: 250px; }

  .answer-block {
    margin-left: 20px; }

  .ui-datepicker {
    margin: auto; } }
@media screen and (max-width: 320px) {
  .sign-in-fb {
    float: none;
    margin-top: 10px; }

  .text-link {
    float: left !important; }

  .btn-review {
    float: none !important;
    margin-top: 10px; }

  .btn.logout,
  .btn.proceed {
    float: none !important;
    width: 100%; }

  .form-wrapper.step3 .btn.btn-back,
  .form-wrapper.step3 .btn.btn-add-order {
    float: none !important;
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
